/* General styling for the Resume page */
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f5f4e7, #ffffff); /* Water-like gradient */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
    text-align: center;
    margin: 0;
    height: 75vh;
}

/* Styling for the heading */
.resume h1 {
    color: #000; /* Text color */
    font-size: 36px; /* Larger font size for visibility */
    font-weight: 700; /* Bold font weight */
    margin: 0; /* Remove default margin */
}
