.home {
    margin-top: 80px; /* Adjust this value based on the height of your Navbar */
    padding: 20px; /* Add padding if needed */
}

.home-image {
    width: 30%; /* Set the image width to 20% of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin-left: 0; /* Align image to the left */
    margin-right: auto; /* Ensure no extra margin on the right */
}
