.footer {
    background-color: white; /* Same as navbar background */
    border-top: 2px solid #e7e7e7; /* Same border as navbar */
    color: #333; /* Text color same as navbar */
    font-weight: bold; /* Same font weight as navbar */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Ensure footer is above other content */
}

.footer a {
    color: #333;
    text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}
